.card {
    width: 17.5rem;
    min-height: calc(100% - 11rem);
    position: absolute;
    margin-top: 2.5rem !important;
}

.nav-item .nav-link {
    color: black;
    font-weight: 800;
    font-size: 1.25rem;
}

.nav-item .nav-link:hover {
    color: gray;
}

.nav-link.active,
.nav-link:hover {
    color: white !important;
}