<div class="d-flex justify-content-center mt-5">
    <h1 class="mb-5">Automation Docker</h1>
</div>
<div class="d-flex justify-content-center mb-5">
    <p class="lead">
        Platatorma para deploy automático de projetos e criação de containêres docker
    </p>
</div>

<div class="row text-justify mt-5 mb-5">
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <img style="width: 50%;" src="assets/images/docker.png" class="card-img" alt="docker">
        </div>
    </div>
    <div class="col-6">
        Docker é uma plataforma de virtualização de contêineres que permite criar, implantar e gerenciar aplicativos em qualquer ambiente,
        independentemente da infraestrutura subjacente. Os contêineres Docker são unidades de software isoladas que incluem tudo o que um
        aplicativo precisa para ser executado, como o código, as bibliotecas e as dependências, além de um ambiente operacional completo.
    </div>
</div>

<div class="row text-justify mt-5 mb-5">
    <div class="col-6">
        Os contêineres são portáteis, escaláveis e fáceis de implantar, permitindo que os desenvolvedores construam e distribuam aplicativos de
        forma rápida e consistente em diferentes ambientes de implantação, desde desktops até data centers em nuvem.
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <img style="width: 40%;" src="assets/images/docker-container.svg" class="card-img" alt="docker-container">
        </div>
    </div>
</div>


<div class="row text-justify mt-5 mb-5">
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <img style="width: 40%;" src="assets/images/tools.png" class="card-img" alt="docker-tools">
        </div>
    </div>
    <div class="col-6">
        O Docker oferece uma série de ferramentas para criar, implantar e gerenciar contêineres, incluindo o Docker Engine, que é a base da plataforma, 
        o Docker Hub, um repositório de imagens de contêineres pré-construídos e o Docker Compose, que permite a orquestração de vários contêineres em 
        um ambiente de aplicativo completo.
    </div>
</div>

<div class="row text-justify mt-5 mb-5">
    <div class="col-6">
        Com o Docker, é possível criar, implantar e gerenciar aplicativos de maneira mais eficiente, reduzir o tempo e o custo de desenvolvimento e aumentar 
        a flexibilidade e a portabilidade dos aplicativos.
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <img style="width: 40%;" src="assets/images/deployment.png" class="card-img" alt="deployment">
        </div>
    </div>
</div>
